{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
        {{ post.creation_date_fr }}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor  %}
{% endblock %}