{% extends 'base.html.twig' %}

{% block body %}
{{ post.content }}
    {{ post.title }}
    {{ post.creation_date_fr }}
        <a href="index.php?c=post&t=deletePost&params[postId]={{ post.id }}">DELETE</a>


{% endblock %}