{% extends 'base.html.twig' %}

{% block body %}



Voulez vous valider le commentaire?
    <form method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="radio" name="validComment">oui
        <input type="radio" name="validComment">non


        <button type="submit">
            validez
        </button>
    </form>

{% endblock %}