{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>
    <form method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="text" name="login" placeholder="email ou username">
        <input type="password" name="password" placeholder="password">
        <div class="g-recaptcha" data-sitekey="6Lfzy2IUAAAAALqzjemiWWM8NTbH2ckFgK1CA1II"></div>
        <button type="submit">
            Login
        </button>
    </form>
{% endblock %}
