{% extends 'base.html.twig' %}

{% import 'form.twig' as form %}

{% block body %}
    <h1>inscription</h1>
    <form method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="email" name="email" placeholder="email"></br>
        <input type="text" name="username" placeholder="username"></br>
        <input type="password" name="password" placeholder="password"></br>
        <div class="g-recaptcha" data-sitekey="6Lfzy2IUAAAAALqzjemiWWM8NTbH2ckFgK1CA1II"></div>
        <button type="submit">
            Login
        </button>
    </form>
{% endblock %}
