{% extends 'base.html.twig' %}

{% block body %}
<h1>inscription</h1>
    <form method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="email" name="email">
        <input type="text" name="username">
        <input type="password" name="password">

        <button type="submit">
            Login
        </button>
    </form>

{% endblock %}