{% extends 'base.html.twig' %}

{% import 'form.twig' as form %}

{% block body %}
    <h1>Me contacter</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt magni molestias pariatur quod unde! Ab ad et
        fugiat illum iste nam numquam perspiciatis possimus, quam rem sunt veniam voluptate voluptatibus.</p>
    <form action="?p=contact" method="post">
        <div class="row">
            {{ form.input('name', 'Votre nom', name, {class: 'col-xs'}) }}
            {{ form.input('email', 'Votre email', email, {class: 'col-xs', type: 'email'}) }}
        </div>
        {{ form.textarea('message', 'Votre message') }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <div class="g-recaptcha" data-sitekey="6Lfzy2IUAAAAALqzjemiWWM8NTbH2ckFgK1CA1II"></div>
        </div>
    </form>
{% endblock %}