<!DOCTYPE html>
<html>

<head>
    <title> Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/blog2/css/style.css">
       <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    
    
    <nav class="navbar navbar-default navbar-fixed-top">
       
        <div class="container">
           <h1> Blog </h1>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="accueil">Liste d'article</a></li>
                    <li><a href="films"> Article</a></li>
                    <li><a href="actualite">Contact</a></li>
                    <li><a href="contact">modifer</a></li>
                  <li> <a href="/blog2/?c=security&t=login">connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="accueil" class="container-fluid">
        <div class="row">


            <img src="images/films.jpg" alt="projection">

            <div class=" heading">
                <h1>Muhammed INAN</h1>
                <p>Le développeur qui vous faut.</p>
            </div>
        </div>

    </section>








    <section id="films">
        <div class="container"></div>
        <div class="blue-divider"></div>
        <div class="heading1">
          
        </div>
       
    </section>





    <section id="actualite">
        <div class="container">
           
            <div class="white-divider"></div>
            <div class="heading2">
             
          
                </div>
            </div>
     
    </section>




    <section id="contact">
       
         <div class="section-content">
         <div class="white-divider"></div>
				
				
			</div>
			<div class="contact-section">
			<div class="container">
			
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">Nom</label>
					    	<input type="text" class="form-control" id="" placeholder=" Enter Name">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">E-mail</label>
					    	<input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
					  	</div>	
					  	
			  		</div>
			  		<div class="col-md-6">
		
			  			<div>

			  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Envoyer</button>
			  			</div>
			  			
					</div>
				</form>
			</div>
        </div>
		</section>
         
    <footer class="text-center">
       <a href="accueil">
           <span class="glyphicon glyphicon-chevron-up"></span>
       </a>
        <h5> 2018 Tous droits réservés- Politique de conidentialité</h5>
        <h6>Contactez-nous</h6>
    </footer>

</body>

</html>
