{% extends 'base.html.twig' %}

{% block body %}
    <section id="accueil" class="container-fluid">
        <div class="blue-divider"></div>
        <div class="row">
            <div class="heading">
                <h1>Muhammed INAN</h1>
                <p>Le développeur qui vous faut.</p>
                <embed src="cv.pdf" width="680px" height="400px">
            </div>
    </section>
    <section id="image" class="container-fluid">
        <img src="images/developpeur.jpg" alt="presentation">
        <div class="heading1">
        </div>
    </section>
{% endblock %}














         



